@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,500&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    flex: 1;
    height: 100vh;
}

h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #4E5150;
    padding-top: 32px;
    padding-bottom: 21px;
    padding-left: 18px;
}