@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,500&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    margin-right: 13px;
    margin-left: 12px;
}

.title {
    display: block;
    width: 100%;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #4E5150;
    padding-top: 32px;
    padding-bottom: 21px;
    padding-left: 18px;
}

@media (min-width:1024px) {
    .container{
        margin-right: auto;
        margin-left: auto;
        max-width: 66%;
        column-gap: 113px;
    }
    .title{
        padding-top: 64px;
        padding-bottom: 51px;
        font-weight: 600;
        font-size: 36px;
        line-height: 44px;
    }
}

