.container-form {
    padding-left: 12px;
    padding-right: 12px;
}

.card-form {
    margin-top: 39px;
}

fieldset {
    border-style: none;
    width: 100%;
}

label {
    display: block;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    color: #4F4F4F;
    margin-bottom: 5px;
}

.card-contact-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
    margin-top: 39px;
    margin-bottom: 11px;
}

.card-contact-title--address {
    margin-top: 45px;
}

input {
    width: 349.25px;
    height: 40.56px;
    border-radius: 12px;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    border-color: #828282;
}

input::placeholder{
    width: 300px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #828282;
}

.email input{
    background-image: url();
}











.checkbox {
    display: flex;
    align-items: center;
    width: 300px;
    height: 15px;
    color: #4F4F4F;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    margin-top: 20px;
    gap:11px;
}

.checkbox input {
    width: 16px;
    height: 15px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    color: #828282;
}