.container__form {
    padding-left: 12px;
    padding-right: 12px;
}

.card-form {
    margin-top: 39px;
}

fieldset {
    width: 100%;
    border-style: none;
    flex-direction: column;
}

label {
    display: block;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    color: #4F4F4F;
    margin-bottom: 5px;
}

.card-contact-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
    margin-top: 39px;
    margin-bottom: 11px;
}

.card-contact-title--address {
    margin-top: 45px;
}

input {
    display: flex;
    width: 91%;
    height: 40.56px;
    border-radius: 12px;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    border-color: #828282;
    padding-left: 30px;
}

input::placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #828282;
}

.email input {
    background-image: url("/assets/icon/envelope-solid.svg");
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 15px 13px;
}

.phone input {
    background-image: url("/assets/icon/phone-solid.svg");
    background-repeat: no-repeat;
    background-position: 11px center;
    background-size: 15px;
}

.full-name input {
    background-image: url("/assets/icon/circle-user-solid.svg");
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 15px 13px;
}

.address input {
    background-image: url("/assets/icon/envelope-solid.svg");
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 15px 13px;
}

.city input {
    background-image: url("/assets/icon/envelope-solid.svg");
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 15px 13px;
}

.container__region {
    display: flex;
    margin-top: 12px;
    width: 100%;
}


select {
    display: flex;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #828282;
    width: 95%;
    height: 40.56px;
    border-radius: 12px;
    border-style: solid;
    border-width: 1px;
    border-color: #828282;
    padding-left: 30px;
}


.country select {
    background-image: url("/assets/icon/envelope-solid.svg");
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 15px 13px;
}
option {
    color: #333333;
}

option::placeholder {
    color: #333333;
}

.postal-code input {
    display: flex;
    width: 80%;
    background-image: url("/assets/icon/envelope-solid.svg");
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 15px 13px;
}






.checkbox {
    display: flex;
    align-items: center;
    width: 300px;
    height: 15px;
    color: #4F4F4F;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    margin-top: 20px;
    gap: 11px;
}

.checkbox input {
    width: 16px;
    height: 15px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    color: #828282;
}

.container__button {
    display: flex;
    justify-content: flex-end;
    margin-top: 21px;
}

.button {
    display: flex;
    width: 166px;
    height: 54px;
    border-radius: 12px;
    background-color: #F2994A;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}